<form (ngSubmit)="sendWhatsapp()" [formGroup]="formWhatsapp">
  to
  <input type="text" formControlName="to">
  message
  <input type="textarea" formControlName="message">
  <input type="submit" value="Enviar">
</form>